  <div class="panel panel-success">
    <div class="panel-heading">Employees. Click to see an individual employee</div>
    <table class="table table-striped">
      <thead>
        <th>#</th>
        <th>name</th>
        <th>phone</th>
        <th>address</th>
        <th>position</th>
        <th>salary</th>
        <th>Monthly Salary</th>
        <th>github account</th>
        <th>slack account</th>
      </thead>
      <tbody>
        <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.id %></td>
          <td><a href="/employee_show?id=<%= employee.id %>"><%= employee.name %></td>
          <td><%= employee.phone %></td>
          <td><%= employee.address %></td>
          <td><%= employee.position %></td>
          <td><%= employee.salary %></td>
          <td><%= employee.monthly_salary %></td>
          <td><%= employee.github %></td>
          <td><%= employee.slack %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="well-lg text-center">
    <a class="btn btn-success btn-lg" href="/new" role="button">Add Employee</a>
  </div>
</div>
