<div class="panel panel-success">
  <div class="panel-heading">Employees. Click the name to edit.</div>
  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th>name</th>
      <th>phone</th>
      <th>address</th>
      <th>position</th>
      <th>salary</th>
      <th>github account</th>
      <th>slack account</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td></a> <%= @employee.id %></td>
        <td><a href="/edit?id=<%= @employee.id %>"><%= @employee.name %></td>
        <td><%= @employee.phone %></td>
        <td><%= @employee.address %></td>
        <td><%= @employee.position %></td>
        <td><%= @employee.salary %></td>
        <td><%= @employee.github %></td>
        <td><%= @employee.slack %></td>
        <td><a class="btn btn-success btn-sm" href="/delete?id=<%= @employee.id %>" role="button">Delete!</a></td>
      </tr>
    </tbody>
  </table>
</div>
